body {
	background-color: #7a7a7a;
}

.navbar {
	border-radius: 0;
	background-color: #5e5e5e;
	border-color: #5e5e5e;
}

form {
	width: 25%;
	height: 50%;
	margin: 0 auto;
}

.input-group {
	margin-bottom: 20px;
}